--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0+cpu
fastapi
uvicorn[standard]
transformers
qdrant-client
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
pydantic
pillow
python-dotenv
openai==0.28.0
numpy==1.24.3
prometheus-client>=0.16.0
azure-identity==1.14.0
azure-keyvault-secrets==4.7.0


